<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <br>
        <h3>Detalle de producto a editar:   <i><%= productToEdit.nombre %></i>
        </h3>
     <br>
     
        <span class="span-ing-prod">
            <div class="ingresar-productos">
                <form action="/products/edit/<%= productToEdit.idProducto%>?_method=PUT" method="POST"enctype="multipart/form-data">
                
                    <h2 class="titulo-registro">Edita tus productos</h2>
                    <!-- nombre, codigo, precio, material, categoría, medida, origen, descripción, -->
                    <br>
                    <label for="idProducto"></label>
                    <input type="number" name="idProducto" id="idProducto" value="<%= productToEdit.idProducto %>"placeholder="idProducto"enctype="multipart/form-data">
                    <br>
                    <label for="nombre"></label>
                    <input type="text" name="nombre" id="nombre" value="<%= productToEdit.nombre %>"placeholder="nombre">
                    <br>
                    <label for="descripcion"></label>
                    <input type="text" name="descripcion" id="descripcion"value="<%= productToEdit.descripcion %>" placeholder="descripcion">
                    <br>
                    <label for="price"></label>
                    <input type="number" name="price" id="price" value="<%= productToEdit.price %>"placeholder="price">
                    <br>
                    <label for="id_categorias"></label position="relative">
                        <br>
                        <label for="image" class="form-label"></label>
                    <input type="file" id="image" name="fotoProducto">
                    <button type="submit" class="boton-guardar">Guardar</button>
                    <!-- <img src="images/esqueleto-bailando-esqueleto.gif" alt="gif" class="gif-esqueleto"> -->
                </form>
            </div>
        </span>
        <br>
        <%- include('./partials/footer') %>
</body>

</html>