<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <br>
        <h3>Detalle de producto a editar:   <i><%= productToEdit.name %></i>
        </h3>
     <br>
     
        <span class="span-ing-prod">
            <div class="ingresar-productos">
                <form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                    <h2 class="titulo-registro">Registra tus productos</h2>
                    <!-- nombre, codigo, precio, material, categoría, medida, origen, descripción, -->
                    <br>
                    <label for="name"></label>
                    <input type="text" name="name" id="name" value="<%= productToEdit.name %>" placeholder="Nombre del producto" class="form-input">
                    <br>
                    <label for="codigo"></label>
                    <input type="text" name="codigo-proucto" id="codigo-producto" placeholder="Código del producto" class="form-input">
                    <br>
                    <label for="price"></label>
                    <input type="text" name="price" id="price" value="<%= productToEdit.price %>" placeholder="Precio (en USD)" class="form-input">
                    <br>
                    <label for="material"></label>
                    <input type="text" name="material" id="material" placeholder="Material" class="form-input">
                    <br>
                    <label for="category"></label position="relative" class="form-input">
                    <select name="category" id="category">
                        <option value="0">Categoría</option>
                        <option value="Skate"<%= (productToEdit.category == "Skate")? "selected":"" %>Skateboard</option>
                        <option value="Longboard"<%= (productToEdit.category == "Longboard")? "selected":"" %>Longboard</option>
                        <option value="Penny"<%= (productToEdit.category == "Penny")? "selected":"" %>Penny</option>
                        <option value="Ruedas"<%= (productToEdit.category == "Ruedas")? "selected":"" %>Ruedas</option>
                        <option value="Trucks"<%= (productToEdit.category == "Trucks")? "selected":"" %>Trucks</option>
                        <option value="ropa"<%= (productToEdit.category == "ropa")? "selected":"" %>Ropa</option>
                        <option value="Accesorios"<%= (productToEdit.category == "Accesorios")? "selected":"" %>Accesorios</option>
                    </select>
                    <br>
                    <label for="Medida"></label>
                    <input type="text" name="Medida" id="Medida" placeholder="Medida">
                    <br>
                    <label for="origen"></label>
                    <input type="text" name="origen" id="origen" placeholder="Origen">
                    <br>
                    <label for="foto" class="form-label"></label>
                    <input type="file" id="foto" name="fotoProducto" class="form-input">
                    <br>
                    <label for="description"></label>
                    <textarea class="textarea-form" name="description" id="description" cols="35" rows="2"
                        placeholder="Deja una descripción del producto" class="form-input"><%= productToEdit.description %></textarea>
                    <br>
                    <button type="submit" class="boton-guardar">Guardar</button>
                    <!-- <img src="images/esqueleto-bailando-esqueleto.gif" alt="gif" class="gif-esqueleto"> -->
                </form>
            </div>
        </span>
        <br>
        <%- include('./partials/footer') %>
</body>

</html>