<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <br>

        <span class="span-ing-prod">
            <div class="ingresar-productos">
                <form class="form-tabla" action="/products/create" method="POST" enctype="multipart/form-data">

                    <h2 class="titulo-registro">Registra tus productos</h2>
                    <!-- nombre, codigo, precio, material, categoría, medida, origen, descripción, -->
                  <br>
                  <div class="errores">
                    <ul></ul>
                   </div>
                    <label for="nombre"></label>
                    <input class="nombre" type="text" name="nombre" id="nombre" placeholder="nombre"
                    value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                    <br>
                    <% if (locals.errors && errors.nombre) { %>
                        <%= errors.nombre.msg %>
                    <% } %>
                    <br>
                    <label for="descripcion"></label>
                    <input class="descripcion" type="text" name="descripcion" id="descripcion" placeholder="descripcion"
                    value="<%= locals.old && old.descripcion ? old.descripcion : '' %>">

                    <% if (locals.errors && errors.descripcion) { %>
                        <%= errors.descripcion.msg %>
                    <% } %>
                    <br>
                    <label for="price"></label>
                    <input type="number" name="price" id="price" placeholder="price"
                    value="<%= locals.old && old.price ? old.price : '' %>">
                    <% if (locals.errors && errors.price) { %>
                        <%= errors.price.msg %>
                    <% } %>
                    <br>
                    <br>
                    <label for="id_categorias"></label position="relative">
                        <select type="number" name="id_categorias" id="id_categorias" placeholder="id_categorias"> 
                            <option value="0">Categoria</option>
                            <option value="1">Tablas</option>
                        <option value="2">Ruedas</option>
                        <option value="3">Trucks</option>
                        <br>
                        <br>
                        
                        <label for="image" class="form-label"></label>
                <input class="image" type="file" id="image" name="fotoProducto">
                    <br>
                    <% if (locals.errors && errors.image) { %>
                        <%= errors.image.msg %>
                    <% } %>

                    <br>



                    <br>
                    <button type="submit" class="boton-guardar">Guardar</button>
                     <br>
                     <br>
                    <button type="reset" class="boton-guardar">Borrar</button>
                    <!-- <img src="images/esqueleto-bailando-esqueleto.gif" alt="gif" class="gif-esqueleto"> -->
                </form>
            </div>
        </span>
        <br>
        <script src="/js/productValidations.js"></script>
        <%- include('./partials/footer') %>

</body>

</html>