<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <br>
        <h3> Usuario a editar:   <i><%= userToEdit.first_name %></i>    
            <br>
            <i><%= userToEdit.last_name %></i>
        </h3>
     <br>
     
        <span class="span-ing-prod">
            <div class="ingresar-productos">
                <form action="/users/edit/<%= userToEdit.idUsuario%>?_method=PUT" method="POST"enctype="multipart/form-data">
                
                    <h2 class="titulo-registro">Edita tu Usuario</h2>
                    <!-- nombre, codigo, precio, material, categoría, medida, origen, descripción, -->
                    <br>
                    <label for="idUsuario"></label>
                    <input type="number" name="idUsuario" id="idUsuario"value="<%= userToEdit.idUsuario %>" placeholder="idUsuario">
                    <br>
                    <label for="first_name"></label>
                    <input type="text" name="first_name" id="first_name"value="<%= userToEdit.first_name %>" placeholder="nombre">
                    <br>
                    <label for="last_name"></label>
                    <input type="text" name="last_name" id="last_name"value="<%= userToEdit.last_name %>" placeholder="apellido">
                    <br>
                    <label for="email"></label>
                    <input type="text" name="email" id="email"value="<%= userToEdit.email %>" placeholder="email">
                    <br>
                    <br>
                    <label for="password"></label>
                    <input type="text" name="password" id="password"value="<%= userToEdit.password %>" placeholder="*******">
                    <br>
                    <label for="image" class="form-label"></label>
                    <input type="file" id="image" name="fotoProducto">
                   
                    <button type="submit" class="boton-guardar">Guardar</button>
                    <!-- <img src="images/esqueleto-bailando-esqueleto.gif" alt="gif" class="gif-esqueleto"> -->
                </form>
            </div>
        </span>
        <br>
        <%- include('./partials/footer') %>
</body>

</html>