<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            </br>
            <main>
                
                <h3>Detalle de usuario :
                    <%= usuario.first_name %>
              
        
                    <%= usuario.last_name %>
                </h4>
                </div>

                <section class="tablas">
                    <article>
                        <div class="tablaaguila">
                            <img src="/images/users/<%= usuario.image %>" alt= "foto del usuario" class="product_img2">
                        </div>
                        <br>
                        <p class="precio">email: 
                            <%= usuario.email %>
                        </p>
                        </br>
                        <div class="botoneditar">
                        <a href="/users/edit/<%= usuario.idUsuario %>" class="agregarAlCarrito" style="text-decoration: none;" >Editar Usuario</a>
                        <br></div>
                        <br>
                    </div>
                        <br>
                        <br>
                        <br>
                       
                       
                    </article>

                </section>
                
                </br>
            </main>

            <%- include('./partials/footer') %>
         </html>